<a href="https://colab.research.google.com/github/lluviaeliiza/Mineria-de-Datos/blob/main/Ej_B%C3%A1sicos_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***Ejercicios Básicos de Python***

## Ejercicio 1:

* Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
mat=1821636
print("Alumna Lluvia Elizabeth Aviles con matricula",mat)

Alumna Lluvia Elizabeth Aviles con matricula 1821636

## Ejercicio 2:
* Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente

In [16]:
num1=int(input("Ingresar el primer número: "))
num2=int(input("Ingresar el segundo número: "))
print("  ")
print("Operaciones básicas:")
print(num1,"+",num2,"=",num1+num2)
print(num1,"-",num2,"=",num1-num2)
print(num1,"*",num2,"=",num1*num2)
print(num1,"/",num2,"=",num1/num2)
print(num1,"^",num2,"=",num1**num2)

Ingresar el primer número: 6
Ingresar el segundo número: 3

Operaciones básicas:
6 + 3 = 9
6 - 3 = 3
6 * 3 = 18
6 / 3 = 2.0
6 ^ 3 = 216

## Ejercicio 3:

* Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
print("Dado el intervalo de 0 a 30, los 10 núm multiplos de 3 son: ")
# se creó un contador para los valores y otro para guardarlos.
i=0
j=0
#se creó un bucle donde el contador del valor(i) tiene que ser menor a  30,
#cuando se cumpla esta condicion, al valor se le agregaran 3 unidades y este
#"nuevo" valor se guardará en un contador (j).

while i<30:
  i=i+3
  j=j+i
  print(i)
#los valores acumulados se pasaron a una "lista", se creo una fn para asi poder 
#sumar todos los elementos de esa lista.
ssa=[j]
def sumar(ssa):
  suma=0
  for elemento in ssa:
    suma+=elemento
    return suma
print(" ") 
print("La suma de los 10 elementos es: ",sumar(ssa))

Dado el intervalo de 0 a 30, los 10 núm multiplos de 3 son:
3
6
9
12
15
18
21
24
27
30

La suma de los 10 elementos es:  165

## Ejercicio 4:

*  Con una función de if else, revisar si un número es par o es impar.
*  Con una función de if else, revisar si un número es primo o no.

In [15]:
#Revisar si el número es par o impar:
xpar=int(input("Ingresar número para revisar si es par o impar: "))
if (xpar%2==0):
  print("El número es par")
else:
    print("El número es impar")

#Revisar si el número es primo o no:
xpri=int(input("Ingresar número para revisar si es primo o no: "))
def primo(xpri):
  contador=0
  resultado=True
  for i in range(1,xpri+1):
    if (xpri%i==0):
      contador+=1
    if (contador>2):
      resultado=False
      break
  return resultado
if (primo(xpri)==True):
    print("El número es primo")
else:
    print("El número no es primo")

Ingresar número para revisar si es par o impar: 9
El número es impar
Ingresar número para revisar si es primo o no: 4
El número no es primo

## Ejercicio 5:
* Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

## ***Ejercicios con estructuras básicas de Python***

## **Tuplas**

* Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

* Crear una tupla con valores enteros imprimir el primer y ultimo valor.

* Añadir 3 valores de string a la tupla.

* Verificar si una variable existe dentro de la tupla.

In [6]:
#1
a = 3.81
b = 9
c = False
d = 2j + 5
print("La variable a es de tipo: ", type (a))
print("La variable b es de tipo: ", type (b))
print("La variable c es de tipo: ", type (c))
print("La variable d es de tipo: ", type (d))

La variable a es de tipo:  <class 'float'>
La variable b es de tipo:  <class 'int'>
La variable c es de tipo:  <class 'bool'>
La variable d es de tipo:  <class 'complex'>

In [14]:
#2
tup = (1,2,3,4,5)
print("El primer valor de la tupla es:",tup[0], "y el último es:",tup[4],"\n")

El primer valor de la tupla es: 1 y el último es: 5

In [9]:
#3
x=list(tup)
x.append("azul")
x.append("rojo")
x.append("verde")
tup=tuple(x)
print(tup)

(1, 2, 3, 4, 5, 'azul', 'rojo', 'verde', 'azul', 'rojo', 'verde')

In [8]:
#4
t=(1, 2, 3, 4, 5, 6)
print("¿El 8 está en la tupla?", 8 in t)
print("¿El 2 está en la tupla?", 2 in t)

¿El 8 está en la tupla? False
¿El 2 está en la tupla? True

## **Listas**
* Crear una lista con 40 elementos aleatorios enteros.

* Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

* Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

* Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

* Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [22]:
#1
import random as r
import os
lista = []
i=0
while i < 40:
    intervalo = r.randint (0,100)
    lista.append(intervalo)
    i = i+1
print("lista: ",lista)

lista:  [10, 64, 2, 54, 47, 40, 61, 71, 5, 34, 4, 30, 54, 9, 80, 78, 15, 88, 93, 2, 88, 28, 76, 32, 30, 25, 12, 3, 20, 60, 39, 48, 0, 66, 1, 84, 54, 90, 32, 57]

In [73]:
#2
pares = []
impares = []

## **Diccionarios**

* Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

* Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

* Usando el diccionario y un loop, imprimir solo los nombres.

* Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [35]:
#1
dicc={'Juan':17,'Karla':34,'Jorge':19,'Gael':40,'Fabián':26,'Carolina':30}
print("Diccionario: ",dicc)

Diccionario:  {'Juan': 17, 'Karla': 34, 'Jorge': 19, 'Gael': 40, 'Fabián': 26, 'Carolina': 30}

In [32]:
#2
Edad = sorted(list(dicc.values()))
print(Edad)

[17, 19, 26, 30, 34, 40]

In [36]:
#3
for i in dicc:
    print(i)

Juan
Karla
Jorge
Gael
Fabián
Carolina

In [37]:
#4 
dicc["Vanessa"] = '24'
dicc["Milton"] = '43'
print("\nDiccionario modificado: ",dicc)

Diccionario modificado:  {'Juan': 17, 'Karla': 34, 'Jorge': 19, 'Gael': 40, 'Fabián': 26, 'Carolina': 30, 'Vanessa': '24', 'Milton': '43'}

## **Sets**

* Crea un set con 100 numeros aleatorios enteros del 1 al 25.

* Comprueba la longitud de tu set.

* Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [59]:
#1
import random as aleatorio
L = []
for i in range (0,100):
    L.append(aleatorio.randint(1, 25))
sett = set(L)
print("Set aletorio: ", sett)

Set aletorio:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

In [76]:
#2
print("La longuitud del set es: ",len(sett))

La longuitud del set es:  25